<h1>Talks</h1>

<p>Here are some talks I've given at various conferences and meetups:</p>

<ol reversed role="list">
  $for(talks)$
  <li>
    <h2>$title$</h2>
    <p>
      $organisation$ &middot;
      <time datetime="$isoDate$">$formattedDate$</time>
    </p>

    $description$

    <p>
      $if(videoUrl)$
      <a href="$videoUrl$">
        <span aria-hidden="true">▶</span>
        Watch Video
      </a>
      $endif$
      $if(slidesUrl)$
      <a href="$slidesUrl$">
        <span aria-hidden="true">📖</span>
        View Slides
      </a>
      $endif$
    </p>
  </li>
  $endfor$
</ol>
